body {                              
    background-color: #EEDEA5; 
}

h1 {                                /*h1 colors and dimensions according to the figma UI model*/
    color: #D68A06;  
    font-weight: bold;              
    font-size: 36px; 
    margin-bottom: 20px;   
    font-family: Regular;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
}
  