.serviceButton{
    width: 200px; 
    height: 200px; 
    background-color: #D66406;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.buttonText{
    color: #fff;              
    font-weight: 600;        
    font-family: Regular;
}