.qrCodePage {
    text-align: center;
    background-color: #f5f5dc; /* Matches the color from your image */
    padding: 20px;
}

.QRCodeContainer {
    margin: 0 auto;
    padding: 20px; /* Add some padding to create space around the QR code */
    display: inline-block; /* To keep QR code centered */
}

.backHomeButton {
    width: 120px; 
    height: 75px; 
    background-color: #D66406;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
}


.buttonText{
    color: #fff;              
    font-weight: 600;        
    font-family: Regular;
}